.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgba(221, 50, 50, 0);
}
.logo,
.commandBox,
/* h1 {
  border: dashed cyan 1px;
} */
.logo {
  /* background-color: #054ea5;
  border-radius: 50%; */
  height: 110px;
  width: auto;
  margin: 10px;
  text-align: center;
}
.commandBox {
  margin: 5px;
  border-radius: 5px;
  border: dashed #054 3px;
}
