.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: darkslategrey;
}
.logo,
.commandBox,
h1 {
  border: dashed cyan 1px;
}
.logo {
  background-color: red;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  margin: 10px;
  text-align: center;
}
.commandBox {
  margin: 5px;
  border-radius: 5px;
}
