.job {
  background-color: #054ea5;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 100px 100px 100px 100px;
  flex-direction: row;
  justify-content: space-between;
  color: white;
}
.job > div {
  /* border: dashed cyan 1px; */
}
.timeOfCall {
}
.packageContents {
}
.transportFrom {
}
.transportTo {
}
.rider {
}
.collected {
}
.delivered {
}
