.job {
  background-color: rgba(5, 77, 165);
  padding: 10px;
  margin: 5px 10px;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 100px 100px 100px 100px;
  flex-direction: row;
  justify-content: space-between;
  color: white;
}
.job:hover {
  opacity: 0.85;
  cursor: pointer;
}
.job > div {
  /* border: dashed cyan 1px; */
}
.timeOfCall {
}
.packageContents {
}
.transportFrom {
}
.transportTo {
}
.rider {
}
.collected {
}
.delivered {
}
